* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  /* background-color: #000; */
  color: #000000;
  overflow: hidden;
}

/* Center Heading Properly */
.NameHeading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

/* Name Styling */
.Name {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

/* Navbar */
.NavBar ul {
  list-style: none;
  /* background-color: #ff0000; */
  padding: 15px 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Navbar Items */
.NavBar li {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
  /* color: #e0e0e0; */
  /* list-style: none;
   */
  text-decoration: none;
}

/* Hover Effect */
.NavBar li:hover {
  color: #b50cdfdc;
  scale: 1.2;
  transition: 0.3s ease;
}

.NameAbout {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
  color: #000000;
}

.AboutMe {
  max-width: 750px;
  padding: 30px;
  text-align: center;
  background-color: #111;
  border-radius: 12px;
  top: 20vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


.AboutMe p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 16px;
  color: #dcdcdc;
}

.Home {
  text-decoration: none;
  color: inherit;
}

.About {
  text-decoration: none;
  color: inherit;
}